{
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "extends": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react-app"],
  "rules": {
    "react/prop-types": 0,
    "react/jsx-uses-vars": [2],
    "no-console": 0,
    "no-unused-vars": "warn",
    "comma-dangle": 0,
    "react/jsx-filename-extension": 0,
    "semi": 0
  }
}
